@charset "UTF-8";

/* Estilos para telas */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header h1 {
    text-align: center;
    padding: 20px;
}

menu ul {
    list-style-type: none;
    background-color: lightblue;
}

/* essa config tira as bolinhas da lista */

menu li {
    background-color: lightskyblue;
    display: inline-block;
    padding: 10px;
    color: white
}

article {
    width: 500px;
    display: block;
    margin: auto;
}

/* media query: tipo de mídia
media feature: características de mídia */

